* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

img {
    border-radius: 15px;
}

/* <---BTN--> */

.btn-hkos{
    background-color: rgb(50, 141, 245); 
    color: white;
    padding: 0.375em 0.75em;
    border-radius: 0.375em;
    border: none;
    text-decoration: none;
    font-weight: 400;
}

.btn-hkos:hover{
    color: white;
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px rgb(50, 141, 245);
}



.btn-draft{
    border:none;
    border-radius: 0.375em;
    background-color: rgb(185, 184, 184);
    padding: 2px;
    color: white;
    width: 70%;
    font-weight: 400;
}
.btn-created{
    border:none;
    border-radius: 0.375em;
    background-color: rgb(117, 204, 247);
    padding: 2px;
    color: white;
    width: 70%;
    font-weight: 400;
}

.btn-payed{
    border:none;
    border-radius: 0.375em;
    background-color: rgb(72, 169, 93);
    padding: 2px;
    color: white;
    width: 70%;
    font-weight: 400;
}

.btn-cancelled{
    border:none;
    border-radius: 0.375em;
    background-color: #dc3545;
    padding: 2px;
    color: white;
    width: 70%;
    font-weight: 400;
}
.btn-cancelled:hover{
    background-color: white;
    color: rgb(198, 85, 107);
    transition: 1s ease;
    box-shadow: 0px 0px 10px rgb(198, 85, 107);

}
.btn-draft:hover{
    background-color: white;
    color: grey;
    transition: 1s ease;
    box-shadow: 0px 0px 10px grey;

}
.btn-payed:hover{
    background-color: white;
    color: rgb(85, 198, 109);
    transition: 1s ease;
    box-shadow: 0px 0px 10px rgb(85, 198, 109);

}
.btn-created:hover{
    background-color: white;
    color: rgb(90, 181, 255);;
    transition: 1s ease;
    box-shadow: 0px 0px 10px rgb(90, 181, 255);

}





.aSearch {
    font-size: 14px;
    color: rgb(50, 141, 245);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: 1px solid lightgrey ;
    cursor: pointer;
    border-radius: 0.5em;
    margin: 0 40px 10px 10px;
    
}

.aSearch:hover {
    color: rgb(2, 65, 137);
    transition: 0.3s;
}

.main-block10 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-block2 {
    height: 50px;
}

.paragraphe-info2 {
    margin-top: 30px;
}

.text15 {
    font-size: 26px;
    font-weight: 300;
}

.main-block1d {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Main Menu */

.menumain {
    background-color: white;
    color: black;
}

.menumain ul li a {
    color: black;
    text-decoration: none;
    margin-right: 12px;
}

.menumain ul li a:hover {
    color: #007490;
    text-decoration: underline;
}

.menulink {
    color: black;
    text-decoration: none;
    display: block;
}


.menulink:hover {
    background-color: rgb(242, 242, 242);
    color: black;
}

.menulogo {
    width: 100px;
    margin-left: 15px;
}

.logoinscription {
    width: 200px;
}

.menuul {
    display: flex;
    align-items: center;
}

.dropMenu{
    background-color: #ffffff0f;
}
.btn2 {
    letter-spacing: 0.025em;
    font-size: 12px;
}

/* <- Landing-> */

.footerlink {
    font-size: 17px;
    font-weight: 300;
    margin: 5px 0;
    text-decoration: none;
    color: black;

}

.footerlink:hover {
    text-decoration: underline;
    color: black;
}


.text1 {
    font-size: 49px;
}

.text2 {
    font-size: 38px;
}

.text3 {
    font-size: 17px;
    font-weight: 300;
}

.text4 {
    font-weight: 700;
}

.text5 {
    font-size: 26px;
}

.text6 {
    font-size: 77px;
}

.span1 {
    color: #2d03a0;
    font-size: 38px;
    font-weight: 400;
}

.textblock1 {
    margin: 10px;
}

.textblock2 {
    margin: 16px 60px 50px;
}

.head-block {
    height: 100px;
}

.main-block1 {
    display: flex;
}

.main-block1l {
    width: 50%;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block1r {
    width: 50%;
    margin: 125px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block1r img {
    width: 568px;
}

.heading-info {

    display: flex;
    align-items: end;

}

.paragraphe-info {
    margin: 20px 0;
}

.btn1-container {
    height: 15%;
    display: flex;
    align-items: center;
}


.main-block2 {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block3 {
    margin-bottom: 100px;
}

.main-block4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block4 img {
    width: 900px;
    margin-bottom: 100px;
}

.line1 {
    width: 100%;
    height: 1px;
}

.main-block5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block5 img {
    width: 150px;
    box-shadow: 10px 5px 5px grey;
}

.main-block6 {
    display: flex;
    align-items: flex-start;
}

.separatedl {
    margin: 75px 0;
}

.logocontainer {
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
}

.logocontainer img {
    width: 100px;
    height: 38px;
}

.copyrightcontainer {
    margin-left: 50px;
    color: grey;
}

.priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceContainer2 {
    background-color: #39a2f2;
    width: 368px;
    height: 260px;
    color: white;
    margin: 48px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.priceContainer3 {
    padding: 15px;
    width: 368px;
    background-color: rgba(244, 242, 242, 0.516);
    color: black;
    font-size: 17px;
    font-weight: 300;
    border-radius: 15px;
}

.priceContainer3 i {
    color: #39a2f2;
    margin: 0px 5px;
}

.bluecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions-block p {
    margin: 30px 0 10px 0;
}